apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: butterbean
  name: butterbean
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
